html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: #688F4E;
}

*::selection {
  background: #688F4E;
}

*::-moz-selection {
  background: #688F4E;
}

/*Inter*/

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

/*Poppins*/

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff2") format("woff2"), url("/fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

/*Roboto*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/*DMSans*/

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regularr.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

.header {
  z-index: 2;
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1651px;
  width: 100%;
  margin: 0 auto -105px auto;
  padding: 0 20px;
  position: relative;
}

.header__logo {
  max-width: 266px;
  min-width: 190px;
  height: 86px;
  width: 100%;
}

.header__logo img {
  width: 100%;
}

.title {
  font-family: "Poppins";
  text-transform: capitalize;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.title_size_reg {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.title_size_md {
  font-size: 27px;
  line-height: 40px;
}

.title_size_m {
  font-size: 24px;
  line-height: 36px;
}

.title_color_bl {
  color: #000;
}

.title_color_gr {
  color: #2B463C;
}

.title_order-item {
  margin-bottom: 16px;
  text-align: center;
}

.title_size_regth {
  font-size: 36px;
  font-weight: 400;
}

.item-subtitle {
  font-size: 24px;
  font-weight: 400;
}

.title_thin {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.main-nav {
  min-height: 47px;
}

.main-nav__toggle-cb {
  display: none;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 102;
}

.main-nav__toggle-cb:checked ~ .main-nav__drop-down {
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.main-nav__toggle-cb:checked ~ .main-nav__toggle-line {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0, 0);
      -ms-transform: rotate(45deg) translate(0, 0);
          transform: rotate(45deg) translate(0, 0);
}

.main-nav__toggle-cb:checked ~ .main-nav__toggle-line:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0) scale(0.2, 0.2);
      -ms-transform: rotate(0) scale(0.2, 0.2);
          transform: rotate(0) scale(0.2, 0.2);
}

.main-nav__toggle-cb:checked ~ .main-nav__toggle-line:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, 3px);
      -ms-transform: rotate(-45deg) translate(0, 3px);
          transform: rotate(-45deg) translate(0, 3px);
}

.main-nav__toggle-cb:checked ~ .main-nav__drop-down .main-nav__item {
  opacity: 1;
}

.main-nav__toggle-line {
  width: 38px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #688F4E;
  z-index: 1;
  -webkit-transform-origin: 5px 0px;
      -ms-transform-origin: 5px 0px;
          transform-origin: 5px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: none;
  z-index: 101;
}

.main-nav__toggle-line:nth-last-child(2) {
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  margin-bottom: 0;
}

.main-nav__drop-down {
  -webkit-transition: height 0.8s;
  -o-transition: height 0.8s;
  transition: height 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  position: relative;
  margin: 0 16px;
  -webkit-transition: opacity 1.2s;
  -o-transition: opacity 1.2s;
  transition: opacity 1.2s;
  padding: 4px 0;
}

.main-nav__item:hover > .main-nav__sub-list {
  display: block;
}

.main-nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #000;
  white-space: nowrap;
}

.main-nav__link:hover {
  color: #2B463C;
}

.main-nav__sub-list {
  display: none;
  position: absolute;
  background: #fff;
  top: 100%;
  left: -16px;
  min-width: 100px;
  border-radius: 5px;
}

.main-nav__sub-item {
  display: block;
  padding: 6px 10px;
}

.main-nav__sub-item a:hover {
  color: #688F4E;
}

.main-nav__btns {
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__btns li {
  display: inline-block;
}

.main-nav__first-btn {
  margin-right: 32px;
}

.btn-link {
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: 400;
  display: inline-block;
  text-align: center;
  -webkit-transition: color 0.4s ease, background 0.4s ease, border 0.4s ease;
  -o-transition: color 0.4s ease, background 0.4s ease, border 0.4s ease;
  transition: color 0.4s ease, background 0.4s ease, border 0.4s ease;
  vertical-align: middle;
  padding: 10px 6px;
}

.btn-link_size_m {
  font-size: 18px;
  min-height: 28px;
  line-height: 28px;
  width: 138px;
}

.btn-link_size_md {
  font-size: 20px;
  min-height: 44px;
  line-height: 44px;
  width: 184px;
}

.btn-link_color_gr {
  border: 1px solid #688F4E;
  background: #688F4E;
  color: #fff;
}

.btn-link_color_gr:hover {
  background: #fff;
  color: #000;
}

.btn-link_color_tr {
  border: 1px solid #FFF;
  color: #2B463C;
}

.btn-link_color_tr:hover {
  background: #fff;
}

.btn-link_color_wt {
  border: 1px solid #FFF;
  background: #fff;
  color: #2B463C;
}

.btn-link_color_wt:hover {
  background: #688F4E;
  color: #fff;
  border: 1px solid #688F4E;
}

.breadcrums__content {
  padding: 222px 20px 61px 433px;
}

.breadcrums__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #979797;
}

.breadcrums__item:not(:last-child) {
  margin-right: -6px;
}

.breadcrums__item:not(:last-child):after {
  content: "/";
}

.breadcrums__item:hover {
  color: #2B463C;
}

.arrows-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 144px;
  width: 100%;
}

.arrows-group__left {
  width: 35px;
  height: 35px;
  background: url("../img/css_sprites.png") -80px -10px;
}

.arrows-group__right {
  width: 35px;
  height: 35px;
  background: url("../img/css_sprites.png") -10px -80px;
}

.arrows-group__item {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.arrows-group__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.socials__link {
  display: inline-block;
}

.socials__link:not(:last-child) {
  margin-right: 50px;
}

.intro {
  background: rgba(177, 209, 130, 0.12);
  position: relative;
  padding-top: 18px;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
}

.intro:after {
  content: "";
  background: #B1D182;
  width: 1306.95px;
  height: 1469.33px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  right: -25%;
  top: -67%;
}

.intro:before {
  content: url(../img/introbg.png);
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 20px;
  top: 125px;
}

.intro__inner {
  max-width: 1758px;
  min-height: 852px;
  padding: 28px 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.intro__text {
  max-width: 550px;
  margin-right: -62px;
  padding-top: 48px;
}

.intro__content {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.43);
  margin-bottom: 16px;
}

.intro__img {
  max-width: 1008px;
  overflow: hidden;
  max-height: 900px;
  padding-bottom: 36px;
}

.intro__img img {
  width: 100%;
}

.intro__title {
  margin-bottom: 47px;
  max-height: 166px;
  text-transform: capitalize;
}

.categories {
  background-color: #fff;
}

.categories__inner {
  max-width: 1836px;
  padding: 105px 80px 28px 80px;
  min-height: 730px;
  margin: 0 auto;
}

.categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__title {
  margin-bottom: 69px;
}

.categories__title a {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.categories__title a:hover {
  color: #2B463C;
}

.category {
  width: 222px;
  height: 258px;
  text-align: center;
  padding: 32px 0 0 0;
  background: #FFFFFF;
  -webkit-box-shadow: -50px 50px 200px #F2F2F2;
          box-shadow: -50px 50px 200px #F2F2F2;
  border-radius: 5px;
  margin: 0 20px 20px 0;
}

.category__img {
  width: 100px;
  height: 100px;
  margin: 0 auto 59px auto;
}

.category__img img {
  width: 100%;
}

.category__link {
  color: #000;
}

.offers {
  padding: 14px 0 150px 0;
  background: #fff;
}

.offers__inner {
  max-width: 1940px;
  padding: 5px 80px 0 80px;
  margin: 0 auto;
  overflow: hidden;
}

.offers__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 100px auto;
  max-width: 1700px;
  padding: 0 20px;
}

.offers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px;
}

.product-card {
  background: #FFFFFF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card_shadowed {
  margin: 18px 0 40px 0;
  padding: 0 18px;
}

.product-card_cart {
  padding: 0 44px 53px 44px;
}

.product-card__inner {
  height: 100%;
}

.product-card__inner_shadowed {
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  padding: 0 44px 53px 44px;
}

.product-card__inner_cart {
  padding: 0 25px 22px 25px;
  border-radius: 20px;
}

.product-card__descr {
  padding-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card__img {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.product-card__img_com {
  margin-bottom: 60px;
}

.product-card__img img {
  max-width: 100%;
  height: auto;
}

.product-card__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 9px;
}

.product-card__title_black a {
  color: #000;
}

.product-card__title_black a:hover {
  color: #2B463C;
}

.product-card__title_green a {
  color: #2B463C;
}

.product-card__field {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.66);
}

.product-card__price {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 36px;
  font-family: "Roboto";
}

.product-card__price_old {
  font-size: 24px;
  line-height: 36px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.71);
}

.product-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__to-cart {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: url(../img/css_sprites.png) -12px -9px;
  cursor: pointer;
}

.popular-products {
  background: #fff;
  padding: 200px 0 178px 0;
}

.popular-products__inner {
  max-width: 1900px;
  padding: 5px 80px 0 80px;
  margin: 0 auto;
  overflow: hidden;
}

.popular-products__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 43px auto;
  max-width: 1714px;
}

.product-counter {
  width: 184px;
  border: 1px solid #688F4E;
  border-radius: 24.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 23px;
  height: 49px;
}

.product-counter_big {
  width: 232px;
  height: 62px;
}

.product-counter_big .product-counter__count {
  font-size: 22px;
}

.product-counter_big .product-counter__btn {
  font-size: 36px;
}

.product-counter__btn {
  font-size: 30px;
  line-height: 27px;
  color: #2B463C;
  cursor: pointer;
}

.product-counter__count {
  font-size: 18px;
  line-height: 27px;
  color: #2B463C;
  text-align: center;
  border: none;
  outline: none;
  width: 90px;
  background: transparent;
}

.best-selling {
  background: #F4F1E9;
  padding: 78px 0 164px 0;
}

.best-selling__inner {
  max-width: 1900px;
  padding: 5px 80px 0 80px;
  margin: 0 auto;
  overflow: hidden;
}

.best-selling__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 49px auto;
  max-width: 1720px;
  padding: 0 60px 0 20px;
}

.subscribe {
  background-color: #F4F1E9;
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  padding: 167px 0 246px 0;
}

.subscribe_mp {
  margin-bottom: 133px;
}

.subscribe__inner {
  max-width: 881px;
  margin-right: 94px;
  margin-left: auto;
}

.subscribe__content {
  padding-left: 46px;
}

.subscribe__title {
  margin-bottom: 100px;
  max-width: 561px;
}

.subcribe__text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.3px;
  color: #2B463C;
  margin-bottom: 29px;
}

.subcribe-form__text {
  height: 87px;
  max-width: 682px;
  border: none;
  width: 100%;
  margin-right: 15px;
  background: #fff;
  border-radius: 50px;
  font-family: "DMSans";
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #2B463C;
  opacity: 0.5;
  padding: 0 8.8%;
}

.subcribe-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__inner {
  margin-bottom: 432px;
}

.catalog__title {
  padding-left: 25px;
  margin-bottom: 55px;
}

.catalog__aside {
  background: #F4F1E9;
  padding: 32px 73px 32px 73px;
  max-width: 425px;
  width: 100%;
}

.catalog__menu {
  margin-bottom: 100px;
}

.catalog__menu-item {
  position: relative;
  padding-left: 57px;
}

.catalog__menu-item:not(:last-child) {
  margin-bottom: 25px;
}

.catalog__menu-item:before {
  content: "";
  width: 25px;
  display: inline-block;
  border-radius: 4px;
  height: 25px;
  border: 4px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.catalog__menu-item_active:before {
  content: url(../img/active.svg);
}

.catalog__manu-link {
  font-size: 24px;
  line-height: 36px;
  color: #2B463C;
}

.catalog__filtres-btn {
  position: relative;
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 80px 60px 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__items .product-card {
  margin-bottom: 150px;
  max-width: 393px;
  width: 30%;
  margin-right: 20px;
}

.catalog__loader {
  text-align: center;
}

.product-details {
  background-image: url("../img/detailbg.png");
  background-repeat: no-repeat;
  background-position: 100% -8%;
  overflow: auto;
  padding-top: 376px;
  padding-bottom: 40px;
  min-height: 1330px;
}

.product-details__inner {
  max-width: 1388px;
  padding: 0 55px 0 20px;
  margin: 0 auto 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-details__title {
  margin-bottom: 28px;
}

.product-details__data {
  padding-top: 34px;
  max-width: 640px;
}

.product-details__properties {
  padding-left: 10px;
}

.product-detaild__velue {
  font-size: 36px;
  color: #2B463C;
}

.product-details__field {
  margin-bottom: 40px;
}

.product-detaild__label {
  font-size: 18px;
  line-height: 27px;
  color: #688F4E;
  margin-bottom: 21px;
}

.product-details__desctiption {
  margin-bottom: 36px;
  color: #2B463C;
}

.product-details__counter {
  margin-bottom: 50px;
}

.product-details__actions {
  text-align: center;
  padding-left: 80px;
}

.product-details__add {
  background: #688F4E;
  border-radius: 7.80576px;
  font-family: "Roboto";
  font-size: 21.0755px;
  line-height: 25px;
  color: #fff;
  padding: 24px 54px;
  border: none;
  outline: none;
}

.product-details__img {
  margin-right: 20px;
}

.like-products {
  background: #fff;
  padding: 90px 0 148px 0;
}

.like-products-wr > .like-products {
  margin-bottom: 210px;
}

.popup {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.22);
  top: 0;
  overflow: auto;
  display: none;
}

.popup_active {
  display: block;
}

.popup__inner {
  background: #FFFFFF;
  margin: 169px auto 0 auto;
}

.popup__inner_cart {
  max-width: 638px;
  position: relative;
  padding: 102px 20px 92px 20px;
  text-align: center;
}

.popup__close {
  position: absolute;
  right: 23px;
  top: 25px;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.popup__close:before,
.popup__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #000;
}

.popup__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__title-cart {
  font-size: 20px;
  line-height: 30px;
  color: #2B463C;
  margin-bottom: 73px;
}

.popup__cart-img {
  max-width: 260px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.popup__cart-img img {
  width: 100%;
}

.popup__cart-product {
  font-size: 23px;
  line-height: 34px;
  color: #2B463C;
  margin-bottom: 36px;
}

.popup__cart-price {
  font-size: 20px;
  line-height: 30px;
  color: #2B463C;
  margin-bottom: 37px;
}

.popup__cart-checkout {
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  padding: 27px 20px;
  min-width: 278px;
  background: #688F4E;
  border-radius: 9.98399px;
  border: none;
  outline: none;
  margin-bottom: 78px;
}

.popup__cart-link {
  font-size: 20px;
  line-height: 30px;
  color: #688F4E;
  text-decoration: underline;
}

.popup__cart-link:hover {
  color: #000;
}

.content-back {
  font-size: 36px;
  color: #2B463C;
}

.content-back__inner {
  max-width: 1870px;
  padding: 224px 80px 65px 80px;
  margin: 0 auto;
}

.content-back__link {
  position: relative;
  padding-left: 42px;
}

.content-back__link:before {
  content: "";
  width: 21px;
  height: 21px;
  border-width: 4px 0 0 4px;
  border-style: solid;
  border-color: #2B463C;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  display: block;
  position: absolute;
  bottom: 11px;
  left: 0px;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
}

.cart-content {
  padding: 14px 20px 185px 20px;
}

.cart-content__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-content__products {
  max-width: 893px;
  margin-right: 28px;
}

.cart-content__product {
  border: 1px solid #B1D182;
  margin-top: 20px;
  margin-bottom: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 25px 13px 2px;
}

.cart-content__product-img {
  width: 166px;
}

.cart-content__product-img img {
  width: 100%;
}

.cart-content__product-data {
  margin-right: 46px;
  max-width: 129px;
  margin-top: 3px;
}

.cart-content__product-title {
  color: #2B463C;
  font-size: 22.7023px;
  line-height: 34px;
  margin-bottom: 24px;
}

.cart-content__product-prop {
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.cart-content__label {
  font-size: 24px;
  color: #2B463C;
  margin-bottom: 16px;
}

.cart-content__price {
  font-size: 22.7023px;
  color: #2B463C;
}

.cart-content__price-info {
  margin-right: 111px;
  margin-top: 21px;
  margin-right: 105px;
}

.cart-content__product_delete {
  width: 25px;
  height: 25px;
  background: url("../img/css_sprites.png") -65px -80px;
  background-repeat: no-repeat;
  margin-top: 33px;
  cursor: pointer;
}

.cart-content__product-counter {
  margin-top: 35px;
  margin-right: 101px;
}

.content-container {
  max-width: 1766px;
  margin: 0 auto;
  padding: 0 60px;
}

.order-summary {
  background: rgba(177, 209, 130, 0.42);
  border: 1px solid #B1D182;
  border-radius: 20px;
  padding: 52px 0 20px 0;
  max-width: 716px;
  width: 100%;
  text-align: center;
}

.order-summary_ch {
  max-width: 640px;
}

.order-summary_cart {
  min-height: 809px;
}

.order-summary__title {
  margin-bottom: 100px;
}

.order-summary__details {
  text-align: justify;
  padding: 0 80px 20px 80px;
  border-bottom: 1px solid #B1D182;
  font-size: 36px;
  color: #2B463C;
}

.order-summary__total {
  font-size: 36px;
  color: #2B463C;
  padding: 78px 80px 20px 80px;
}

.order-summary__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

.order-summary__total {
  margin-bottom: 112px;
}

.checkout {
  padding: 45px 20px 0 167px;
}

.checkout__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 242px;
}

.checkout__content .checkout__state-innter {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.checkout__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 940px;
  margin-bottom: 78px;
}

.checkout__state-marker {
  width: 58px;
  height: 58px;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-bottom: 24px;
}

.checkout__state-marker div {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #C4C4C4;
  margin: 11px auto;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.checkout__state:not(:last-child) .checkout__state-marker {
  margin-right: 373px;
}

.checkout__state:not(:first-child) .checkout__state-marker:after {
  content: " ";
  border-top: 3px solid #C4C4C4;
  position: absolute;
  width: 376px;
  top: 50%;
  right: 100%;
}

.checkout__state:not(:first-child) .checkout__state-marker_active:after {
  border-top: 3px solid #B1D182;
}

.checkout__state-title {
  font-size: 24px;
  line-height: 1.4;
  color: #000;
}

.checkout__state-marker_active {
  border: 2px solid #B1D182;
}

.checkout__state-marker_active div {
  background: #B1D182;
}

.checkout__state-innter {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.checkout__form {
  margin-top: 49px;
}

.checkout__form form {
  max-width: 483px;
}

.checkout-save {
  margin: 40px auto 0 auto;
}

.checkout__block-title {
  font-size: 27px;
  color: #000;
  margin-bottom: 25px;
}

.checkout__delivery-address {
  font-size: 24px;
  line-height: 36px;
  color: #2B463C;
  margin-left: 65px;
  margin-bottom: 107px;
  max-width: 320px;
  padding: 20px 10px 10px 10px;
}

.checkout__payment-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-details {
  max-width: 1670px;
  margin: 0 auto 222px auto;
  padding: 0 20px 10px 20px;
}

.order-detail__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 196px;
}

.order-details__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-details__subtitle {
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: 400;
}

.order-item {
  max-width: 633px;
  background: #fff;
  padding: 46px 20px 5px 0;
  min-height: 397px;
}

.order-item__img {
  width: 300px;
  overflow: hidden;
  display: inline-block;
  margin-right: 22px;
}

.order-item__img img {
  width: 100%;
}

.order-item__description {
  display: inline-block;
}

.order-item__prop {
  font-size: 14px;
  color: #C4C4C4;
  margin-bottom: 13px;
}

.order-item__title {
  font-size: 24px;
  color: #000;
  margin-bottom: 8px;
}

.order-item__number {
  font-size: 18px;
  color: #2B463C;
  margin-bottom: 24px;
}

.order-item__quantity {
  font-size: 18px;
  color: #2B463C;
  margin-bottom: 23px;
}

.oreder-item__price {
  font-size: 24px;
  color: #2B463C;
  margin-bottom: 30px;
}

.order-item__status {
  font-size: 18px;
}

.order-item__status_pending {
  color: #688F4E;
}

.payment-information {
  max-width: 746px;
  width: 47%;
  padding: 19px 0 0 0;
}

.payment-information__row {
  padding-left: 63px;
  max-width: 398px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment-information__row span:first-child {
  min-width: 196px;
}

.payment-information__row span {
  width: 50%;
}

.payment-information__adderss {
  margin-bottom: 17px;
}

.payment-information__row {
  padding-left: 70px;
}

.payment-information__row span {
  display: inline-block;
}

.payment-information__row span:first-child {
  max-width: 196px;
  width: 100%;
}

.payment-information__total {
  padding: 31px 20px 88px 100px;
}

.payment-information__order-fee {
  margin-bottom: 17px;
}

.payment-information__delivery-fee {
  margin-bottom: 9px;
}

.payment-information__title {
  text-align: center;
  margin-bottom: 31px;
}

.payment-information__subtitle {
  margin-bottom: 31px;
}

.payment-information__method {
  padding: 0 20px 54px 100px;
  border-bottom: 1px solid #B1D182;
}

.delivery-information {
  max-width: 746px;
  width: 47%;
  padding: 29px 20px 20px 85px;
}

.title_delivery-information {
  margin-bottom: 37px;
  text-align: center;
}

.title_delivery-address {
  margin-bottom: 27px;
}

.delivery-information__address {
  font-size: 18px;
  line-height: 40px;
  margin-left: 108px;
  max-width: 222px;
}

.orders {
  padding: 0 20px;
}

.orders__history {
  margin-bottom: 282px;
}

.orders__type {
  display: none;
}

.orders__type_active {
  display: block;
}

.orders__menu {
  margin-bottom: 96px;
}

.orders__menu-item {
  display: inline-block;
  max-width: 398px;
  width: 100%;
  border-radius: 45px;
  padding: 28px 20px;
  font-size: 22px;
  color: #2B463C;
  border: 0.8px solid #B1D182;
  text-align: center;
  cursor: pointer;
}

.orders__menu-item_active {
  background: #688F4E;
  color: #fff;
}

.orders__row {
  border: 1px solid #B1D182;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 28px 15px 0;
  max-width: 892px;
}

.orders__row:not(:last-child) {
  margin-bottom: 49px;
}

.orders__row-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.orders__row-img {
  width: 166px;
}

.orders__row-img img {
  width: 100%;
}

.orders__row-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.orders__row-title {
  font-weight: 400;
}

.orders__row-prop {
  font-size: 14px;
  color: #C4C4C4;
}

.orders__row-number {
  font-size: 14px;
  color: #2B463C;
}

.orders__row-price {
  font-size: 18px;
  color: #2B463C;
}

.order__row-link a {
  font-size: 20px;
}

.orders__empty-inner {
  text-align: center;
}

.orders__inner-text {
  font-size: 36px;
}

.orders__empty-img {
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto 69px auto;
}

.orders__empty-img img {
  max-width: 100%;
}

.btn {
  background: #688F4E;
  text-align: center;
  padding: 5px 10px;
  outline: none;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #688F4E;
  text-transform: capitalize;
}

.btn:hover {
  color: #688F4E;
  background: #fff;
}

.btn_loader {
  min-width: 258px;
  min-height: 80px;
  border-radius: 7px;
}

.btn_checkout {
  min-width: 278px;
  min-height: 70px;
  border-radius: 10px;
  margin-bottom: 78px;
}

.btn_summary {
  min-width: 225px;
  min-height: 66px;
  border-radius: 8px;
}

.btn-size-m {
  min-width: 184px;
  min-height: 54px;
  line-height: 54px;
  border-radius: 5px;
}

.footer {
  background: #688F4E;
  padding: 122px 0 54px 0;
}

.footer__inner {
  max-width: 1810px;
  margin-left: auto;
  margin-right: 74px;
  padding: 0 20px 0 277px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 142px;
}

.footer__menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 746px;
  width: 100%;
}

.footer__nav-item {
  margin: 16px 0;
  font-family: "DMSans";
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.231818px;
  color: #FFD2DD;
}

.footer__nav-link {
  font-family: "DMSans";
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom-link {
  font-family: "DMSans";
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFF;
}

.footer__bottom-link:not(:last-child) {
  margin-right: 93px;
}

.footer__logo img {
  width: 100%;
}

.footer__socials {
  margin-right: 88px;
}

body {
  line-height: 1;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #2B463C;
  line-height: 27px;
}

.swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.swiper-slide {
  height: auto;
}

.show-popup {
  overflow-y: hidden;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

::-ms-input-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

.shadowed-block {
  -webkit-box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
}

.field-label {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  color: #696F79;
  margin-bottom: 16px;
  display: inline-block;
}

.input-text {
  border: 1px solid #C4C4C4;
  border-radius: 6px;
  max-width: 482px;
  height: 72px;
  width: 100%;
  padding: 7%;
  font-weight: 500;
  font-size: 18px;
  color: #696F79;
}

.input-text:focus {
  border: 1px solid #1565D8;
}

.form-row {
  margin-bottom: 21px;
}

.label-chb-round {
  font-size: 27px;
  color: #000;
  height: 33px;
  position: relative;
  overflow: hidden;
  padding-left: 61px;
  display: block;
}

.label-chb-round_payment {
  margin-bottom: 53px;
}

.label-chb-round input {
  position: absolute;
  display: none;
}

.label-chb-round .checkbox__inner {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid #B1D182;
  margin-right: 20px;
  position: absolute;
  left: 0;
}

.label-chb-round input:checked + .checkbox__inner {
  background-color: #B1D182;
}

@media (max-width: 1700px) {
  .catalog__items {
    padding: 80px 20px 60px 40px;
  }

  .catalog__items .product-card {
    padding: 0 15px 22px 15px;
  }

  .cart-content__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .breadcrums__content {
    padding: 180px 20px 41px 333px;
  }

  .intro:before {
    top: 5px;
  }

  .intro__inner {
    min-height: 700px;
  }

  .intro__img {
    max-width: 55%;
  }

  .categories__inner {
    padding: 80px 80px 28px 80px;
    min-height: 430px;
  }

  .categories__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .category {
    width: 25%;
    height: 220px;
  }

  .category__img {
    margin: 0 auto 40px auto;
  }

  .product-card__inner_shadowed {
    padding: 0 24px 10px 24px;
  }

  .popular-products {
    padding: 138px 0 84px 0;
  }

  .subscribe__inner {
    max-width: 53%;
  }

  .catalog__inner {
    margin-bottom: 230px;
  }

  .catalog__aside {
    padding: 32px 43px 32px 43px;
  }

  .catalog__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .catalog__items .product-card {
    margin-bottom: 50px;
    width: 48%;
  }

  .like-products {
    padding: 90px 0 90px 0;
    margin-bottom: 60px;
  }

  .like-products-wr > .like-products {
    margin-bottom: 110px;
  }

  .content-back {
    font-size: 32px;
  }

  .cart-content__product {
    margin-bottom: 39px;
  }

  .order-summary__details {
    text-align: justify;
    padding: 0 40px 42px 40px;
    border-bottom: 1px solid #b1d182;
  }

  .order-summary__total {
    padding: 34px 40px 20px 40px;
  }

  .order-summary__text {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 92px;
  }

  .checkout {
    padding: 45px 20px 0 127px;
  }

  .checkout__state:not(:last-child) .checkout__state-marker {
    margin-right: 273px;
  }

  .checkout__state:not(:first-child) .checkout__state-marker:after {
    width: 278px;
  }

  .order-details {
    margin: 0 auto 122px auto;
  }

  .order-detail__items {
    margin-bottom: 96px;
  }

  .payment-information__row {
    padding-left: 33px;
  }

  .payment-information__total {
    padding: 31px 20px 88px 45px;
  }

  .payment-information__method {
    padding: 12px 20px 54px 45px;
  }

  .delivery-information {
    padding: 29px 20px 20px 45px;
  }
}

@media (max-width: 1200px) {
  .intro:before {
    top: 0%;
  }

  .intro__inner {
    min-height: 580px;
  }

  .intro__content {
    font-size: 18px;
    line-height: 22px;
  }

  .intro__img {
    display: none;
  }

  .intro__title {
    margin-bottom: 28px;
  }

  .categories__title {
    margin-bottom: 49px;
  }

  .category__img {
    margin: 0 auto 20px auto;
  }

  .offers {
    padding: 14px 0 100px 0;
  }

  .offers__top {
    margin-bottom: 40px;
  }

  .product-card__inner_shadowed {
    padding: 0 24px 10px 24px;
  }

  .popular-products {
    padding: 38px 0 84px 0;
  }

  .popular-products__top {
    margin-bottom: 36px;
  }

  .subscribe {
    padding: 86px 0 126px 0;
    background-image: none;
  }

  .subscribe__inner {
    max-width: 92%;
    margin: 0 auto;
  }

  .product-details {
    padding-top: 218px;
    background-position: right top;
    min-height: 1100px;
  }

  .product-details__inner {
    margin: 0 auto 50px auto;
  }

  .like-products {
    padding: 50px 0 60px 0;
    margin-bottom: 40px;
  }

  .like-products-wr > .like-products {
    margin-bottom: 60px;
  }

  .content-back__inner {
    padding: 194px 80px 45px 80px;
  }

  .cart-content {
    padding: 14px 20px 145px 20px;
  }

  .cart-content__product {
    max-width: 663px;
  }

  .cart-content__product-data {
    margin-right: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cart-content__price-info {
    margin-right: 26px;
  }

  .cart-content__product-counter {
    margin-right: 26px;
  }

  .checkout {
    padding: 45px 20px 0 20px;
  }

  .checkout__content {
    margin-bottom: 82px;
  }

  .checkout__payment-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .order-details__summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .payment-information {
    max-width: 633px;
    width: auto;
    margin-bottom: 58px;
  }

  .delivery-information {
    max-width: 633px;
    width: auto;
  }

  .orders__menu-item {
    max-width: 298px;
  }

  .orders__menu-item {
    max-width: 218px;
    padding: 18px 20px;
  }

  .footer__inner {
    padding: 0 20px 0 14%;
  }

  .footer__menu {
    margin-bottom: 120px;
  }

  .footer__menu-lists {
    width: 58%;
  }

  .footer__logo {
    width: 50%;
  }

  .label-chb-round_payment {
    margin-bottom: 23px;
    padding-left: 41px;
  }
}

@media (max-width: 992px) {
  .main-nav__item {
    margin: 0 8px;
  }

  .main-nav__first-btn {
    margin-right: 12px;
  }

  .btn-link_size_m {
    width: 85px;
  }

  .breadcrums__content {
    padding: 160px 20px 41px 163px;
  }

  .categories__inner {
    padding: 60px 80px 28px 80px;
  }

  .offers {
    padding: 14px 0 60px 0;
  }

  .subscribe {
    padding: 46px 0 46px 0;
  }

  .subscribe_mp {
    margin-bottom: 0;
  }

  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog__inner {
    margin-bottom: 130px;
  }

  .catalog__aside {
    max-width: none;
  }

  .catalog__items {
    padding: 40px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .catalog__items .product-card {
    width: 45%;
  }

  .product-details {
    padding-top: 118px;
  }

  .product-details__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px 0 20px;
  }

  .product-details__data {
    margin: 0 auto;
  }

  .product-details__img {
    min-width: none;
    text-align: center;
  }

  .like-products {
    margin-bottom: 10px;
  }

  .cart-content {
    padding: 14px 20px 85px 20px;
  }

  .order-summary_cart {
    min-height: auto;
  }

  .checkout__progress {
    margin-bottom: 38px;
  }

  .checkout__state-marker {
    width: 38px;
    height: 38px;
  }

  .checkout__state-marker div {
    width: 18px;
    height: 18px;
    margin: 8px auto;
  }

  .checkout__state:not(:last-child) .checkout__state-marker {
    margin-right: 158px;
  }

  .checkout__state:not(:first-child) .checkout__state-marker:after {
    width: 162px;
  }

  .checkout__state-title {
    font-size: 18px;
  }

  .checkout__form form {
    max-width: 383px;
  }

  .orders__history {
    margin-bottom: 246px;
  }

  .orders__menu {
    margin-bottom: 46px;
  }

  .footer {
    padding: 53px 0 24px 0;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .footer__menu-lists {
    width: 100%;
  }

  .footer__socials {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header__logo {
    max-width: 206px;
  }

  .title_size_reg {
    font-size: 28px;
    line-height: 36px;
  }

  .title_size_regth {
    font-size: 30px;
  }

  .title_thin {
    font-size: 28px;
  }

  .main-nav__toggle-cb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-nav__toggle-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-nav__drop-down {
    background: #B1D182;
    display: block;
    height: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 0 26px;
  }

  .main-nav__list {
    display: block;
  }

  .main-nav__list > .main-nav__item:first-child {
    margin-top: 40px;
  }

  .main-nav__item {
    display: block;
    margin: 18px 0;
    opacity: 0;
  }

  .main-nav__sub-list .main-nav__sub-list {
    display: block;
    background: none;
    position: static;
    padding-left: 20px;
  }

  .main-nav__btns {
    display: block;
    margin-left: 0;
  }

  .main-nav__btns li {
    display: block;
  }

  .btn-link_rs {
    width: 100%;
    margin: 18px 0;
  }

  .breadcrums__item {
    font-size: 20px;
  }

  .intro__inner {
    padding: 28px 40px;
    min-height: 480px;
  }

  .intro__content {
    margin-bottom: 8px;
  }

  .categories__inner {
    padding: 40px 40px 28px 40px;
  }

  .category {
    width: 220px;
    height: 220px;
    margin: 0 0 20px 0;
  }

  .offers {
    padding: 14px 0 20px 0;
  }

  .offers__inner {
    padding: 5px 40px 0 40px;
  }

  .popular-products__inner {
    padding: 5px 40px 0 40px;
  }

  .best-selling {
    padding: 48px 0 84px 0;
  }

  .best-selling__inner {
    padding: 5px 40px 0 40px;
  }

  .subscribe__content {
    padding-left: 10px;
  }

  .subscribe__title {
    margin-bottom: 40px;
  }

  .subcribe-form__text {
    margin-right: 0;
    margin-bottom: 20px;
    height: 64px;
  }

  .subcribe-form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .catalog__inner {
    margin-bottom: 60px;
  }

  .catalog__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .catalog__items .product-card {
    width: 96%;
    margin-right: 0;
  }

  .product-details__inner {
    margin: 0 auto 30px auto;
  }

  .product-details__actions {
    padding-left: 0;
  }

  .product-details__img {
    margin-right: 0;
  }

  .like-products {
    padding: 20px 0 20px 0;
  }

  .like-products-wr > .like-products {
    margin-bottom: 40px;
  }

  .popup__inner {
    padding: 62px 20px 42px 20px;
  }

  .popup__title-cart {
    margin-bottom: 43px;
  }

  .popup__cart-product {
    margin-bottom: 23px;
  }

  .content-back__inner {
    padding: 194px 40px 45px 40px;
  }

  .cart-content__products {
    margin-right: 0;
  }

  .cart-content__product {
    padding: 13px 6px 13px 6px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .cart-content__product-data {
    width: 58%;
  }

  .cart-content__product-counter .cart-content__product-counter {
    margin-right: 16px;
  }

  .content-container {
    padding: 0 40px;
  }

  .order-summary {
    padding: 32px 0 20px 0;
  }

  .order-summary__title {
    margin-bottom: 60px;
  }

  .order-summary__details {
    font-size: 30px;
    padding: 0 20px 32px 20px;
  }

  .order-summary__total {
    font-size: 30px;
  }

  .order-summary__row {
    margin-bottom: 34px;
  }

  .order-summary__total {
    padding: 24px 20px 20px 20px;
  }

  .order-summary__text {
    margin-bottom: 32px;
  }

  .order-summary__text {
    margin-bottom: 16px;
  }

  .checkout__content {
    margin-bottom: 42px;
  }

  .checkout__delivery-address {
    padding: 16px 10px 10px 10px;
    margin-left: 45px;
    margin-bottom: 87px;
  }

  .order-details__subtitle {
    font-size: 22px;
  }

  .order-item {
    padding: 36px 10px 25px 10px;
  }

  .order-item__img {
    width: 38%;
  }

  .payment-information__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .payment-information__total {
    padding: 18px 20px 24px 25px;
  }

  .payment-information__method {
    padding: 12px 20px 24px 25px;
  }

  .delivery-information__address {
    margin-left: 0;
  }

  .orders__history {
    margin-bottom: 86px;
  }

  .orders__menu {
    margin-bottom: 26px;
  }

  .orders__menu-item {
    max-width: 48%;
    padding: 14px 16px;
    font-size: 16px;
  }

  .orders__inner-text {
    font-size: 30px;
  }

  .btn-size-m {
    min-width: 164px;
  }

  .footer__inner {
    padding: 0 20px 0 8%;
  }

  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__socials {
    margin: 18px 0 0 0;
  }

  .label-chb-round {
    font-size: 20px;
  }

  .label-chb-round .checkbox__inner {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 720px) {
  .cart-content__product-img {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .title_size_regth {
    font-size: 24px;
  }

  .title_thin {
    font-size: 24px;
    line-height: 34px;
  }

  .main-nav__inner {
    margin-top: 8px;
  }

  .breadcrums__content {
    padding: 120px 20px 41px 63px;
  }

  .breadcrums__item {
    font-size: 18px;
  }

  .socials__link:not(:last-child) {
    margin-right: 30px;
  }

  .socials__link {
    text-align: center;
  }

  .intro__inner {
    padding: 20px 20px;
  }

  .intro__content {
    font-size: 16px;
    line-height: 18px;
  }

  .categories__inner {
    padding: 60px 20px 28px 20px;
  }

  .offers__inner {
    padding: 5px 20px 0 20px;
  }

  .offers__items {
    padding: 0;
  }

  .product-card_shadowed {
    padding: 0 5px 10px 6px;
  }

  .product-card__inner_shadowed {
    -webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
  }

  .product-card__inner_cart {
    padding: 0 15px 14px 15px;
  }

  .product-card__descr {
    padding-left: 0;
  }

  .product-card__img {
    height: 290px;
  }

  .product-card__title {
    font-size: 20px;
  }

  .product-card__field {
    margin-bottom: 8px;
  }

  .product-card__price {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .product-card__price_old {
    font-size: 20px;
  }

  .product-card__to-cart {
    width: 30px;
    height: 30px;
    background: url(../img/css_sprites.png) -8px -6px;
    background-size: 250%;
  }

  .popular-products {
    padding: 38px 0 44px 0;
  }

  .popular-products__inner {
    padding: 5px 20px 0 20px;
  }

  .product-counter {
    width: 156px;
  }

  .product-counter_big {
    width: 202px;
  }

  .best-selling {
    padding: 28px 0 28px 0;
  }

  .best-selling__inner {
    padding: 5px 20px 0 20px;
  }

  .product-details__title {
    margin-bottom: 14px;
  }

  .product-details__field {
    margin-bottom: 20px;
  }

  .product-details__desctiption {
    margin-bottom: 20px;
  }

  .product-details__counter {
    margin-bottom: 30px;
  }

  .product-details__img {
    width: 100%;
  }

  .product-details__img img {
    max-width: 100%;
  }

  .content-back {
    font-size: 22px;
  }

  .content-back__inner {
    padding: 124px 20px 20px 40px;
  }

  .content-back__link:before {
    bottom: 1px;
  }

  .cart-content {
    padding: 14px 0 35px 0;
  }

  .cart-content__price-info {
    margin-top: 14px;
    width: 70%;
  }

  .cart-content__product-counter {
    margin-right: 0;
  }

  .content-container {
    padding: 0 20px;
  }

  .order-summary {
    padding: 18px 0 18px 0;
  }

  .order-summary__title {
    margin-bottom: 30px;
  }

  .order-summary__details {
    font-size: 20px;
    padding: 0 12px 22px 12px;
  }

  .order-summary__total {
    font-size: 22px;
  }

  .order-summary__row {
    margin-bottom: 16px;
  }

  .checkout {
    padding: 25px 0 0 0;
  }

  .checkout__progress {
    margin-bottom: 14px;
  }

  .checkout__state {
    max-width: 96px;
  }

  .checkout__state:not(:last-child) .checkout__state-marker {
    margin-right: 58px;
  }

  .checkout__state:not(:first-child) .checkout__state-marker:after {
    width: 62px;
  }

  .checkout__state-title {
    font-size: 14px;
  }

  .checkout__form {
    margin-top: 29px;
  }

  .checkout__form form {
    max-width: 253px;
  }

  .checkout__block-title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .checkout__delivery-address {
    padding: 16px 10px 10px 10px;
    margin-left: 25px;
    margin-bottom: 57px;
    font-size: 20px;
  }

  .order-details {
    margin: 0 auto 42px auto;
    padding: 0 0 10px 0;
  }

  .order-detail__items {
    margin-bottom: 36px;
  }

  .order-details__subtitle {
    font-size: 18px;
  }

  .order-item {
    padding: 16px 20px 25px 20px;
  }

  .order-item__img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .payment-information__row {
    font-size: 16px;
  }

  .payment-information__total {
    padding: 18px 14px 24px 14px;
  }

  .delivery-information {
    padding: 29px 14px 20px 14px;
  }

  .delivery-information__address {
    font-size: 16px;
  }

  .orders {
    padding: 0;
  }

  .orders__history {
    margin-bottom: 46px;
  }

  .orders__row {
    padding: 18px 8px 15px 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .orders__row-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
  }

  .orders__row-img {
    width: 100%;
  }

  .order__row-link {
    display: inline-block;
    margin: 16px 20px;
  }

  .orders__inner-text {
    font-size: 24px;
  }

  .btn_checkout {
    min-width: 208px;
    margin-bottom: 38px;
  }

  .btn_summary {
    min-width: 192px;
    min-height: 58px;
  }

  .btn-size-m {
    min-height: 42px;
    line-height: 44px;
  }

  .footer {
    padding: 23px 0 24px 0;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__menu-lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__nav {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__nav-item {
    margin: 14px 0;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__bottom-link {
    margin-bottom: 20px;
  }

  .footer__logo {
    width: 70%;
  }

  .field-label {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .input-text {
    height: 52px;
  }

  .label-chb-round {
    height: auto;
  }
}

@media (max-width: 360px) {
  .offers__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popular-products__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .best-selling__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}